lib/n8n/test-workflow.json
{
  "name": "CloudGuard Simple Test",
  "nodes": [
    {
      "parameters": {
        "path": "cloudguard-test",
        "options": {}
      },
      "id": "abc123",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "CloudGuard Scan Received"
            },
            {
              "name": "status",
              "value": "processing"
            }
          ],
          "number": [
            {
              "name": "findings_count",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "def456",
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.findings_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "ghi789",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    alert: \"Critical findings detected!\",\n    count: $json.findings_count,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "jkl012",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        240
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "test"
  },
  "tags": []
}